@import "./variables.scss";

.content {
  position: relative;
  padding: 0% 10vw;
  min-height: 100vh;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  &.bright {
    background-color: $gray-100;
    color: #000;
    .header {
      .bi-brightness-high {
        color: $yellow-600;
      }
      button.fill::after {
        background: $yellow-600;
      }
    }
  }
  &.dark {
    background-color: $cyan-900;
    color: #fff;
    .header {
      .bi-brightness-high {
        color: $gray-800;
      }
      button.fill::after {
        background: #dbdbdb;
      }
    }
  }
}
